<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/ext_bs.css">

</head>
<body>
<div class="container">
    <form class="border border-gray padding">
        <div class="form-group">
            <label for="name" class="control-label">用户名：</label>
            <input type="text" class="form-control" id="name" v-model="user.name" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="age" class="control-label">年龄：</label>
            <input type="number" class="form-control" id="age" v-model="user.age" placeholder="请输入年龄">
        </div>
        <button type="button" class="btn btn-primary pull-right margin-left" v-on:click="reset">重置</button>
        <button type="button" class="btn btn-danger pull-right" v-on:click="add">添加</button>
        <div class="clearfix"></div>
    </form>
    <table class="table table-bordered text-center" v-if="users.length>0">
        <caption>
            <h3 class="text-primary">用户信息表</h3></caption>
        <thead>
        <tr class="text-danger">
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr v-for="(user,index) in users">
            <td>{{index+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>
                <button class="btn btn-primary btn-sm" v-on:click="remove(index)">删除</button>
            </td>
        </tr>
        <tr>
            <td>共-{{counts}}-条</td>
            <td colspan="3">
                <button class="btn btn-danger btn-sm" v-on:click="clear">删除全部</button>
            </td>
        </tr>
    </table>
</div>


<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
<script>
    new Vue({
        el: ".container",
        data: {
            user: {
                name: "jack",
                age: 15
            },
            users: [
                {name: "miko", age: 16},
                {name: "lucifer", age: 50}
            ]
        },
        methods: {
            add: function () {
                this.users.push(this.user);
                
            },
            remove: function (index) {
                this.users.splice(index, 1);
            },
            clear: function () {
                this.users = [];
            },
            reset: function () {
                this.user = {name: "jack", age: 15};
            }
        },
        computed: {
            counts: function () {
                return this.users.length;
            }
        }
    });
</script>
</body>
</html>